:root {
    --primary-color: #1A1A1D; 
    --secondary-color: #3B1C32;
    --third-color: #6A1E55;
    --fourth-color: #A64D79;
}

body{
    background-color: var(--primary-color);
    color:  #F2F3F4;
}

.table_component {
    overflow: auto;
    width: 100%;
}

.table_component table {
    border: 1px solid #6A1E55;
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: center;
}

.table_component caption {
    caption-side: top;
    text-align: left;
}

.table_component th {
    border: 1px solid #6A1E55;
    background-color: #3B1C32;
    color: #F2F3F4;
    padding: 5px;
}

.table_component td {
    border: 1px solid #6A1E55;
    background-color: #A64D79;
    color: #F2F3F4;
    padding: 5px;
}